.badges-section {
  background-color: var(--secondary-bg-color);
}

.badges-section_title {
  text-align: left;
}

.badges-section_text {
  padding-top: 35px;
  padding-bottom: 45px;
  max-width: 469px;
  color: var(--secondary-text-color);
}

.badges-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}